<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Update</title>
</head>
<body>
<a href="showAll">View All</a>
<form action="/animals/new" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="scientific">Scientific Name</label>
    <input type="text" id="scientific" name="scientific">

    <label for="species">Species</label>
    <input type="text" id="species" name="species">

    <label for="habitat">Habitat</label>
    <input type="text" id="habitat" name="habitat">

    <label for="description">Description</label>
    <textarea id="description" name="description"></textarea>

    <button type="submit">Create Animal</button>
</form>
</body>
</html>